.social-links{
    height: 50px;
    width: 200px;
    background-color: #83BCC5;
    border-radius: 4px 4px 0px 0px;
}

img{
    height: 30px;
}

li:hover{
    color: #83BCC5;
    cursor: pointer;
}

.terms{
    color: #83BCC5;
}

.social-links > img:hover{
    color: black;
    cursor: pointer;
}