<div class="container pt-4">
    <div class="row">
        <div class="col-12">
            <img  class="img-fluid" src="../../assets/component_6_images/newsletter-bg.png">
            <h3 class="position-absolute ns-title">Sign Up Our <br>Newsletter</h3>
            <h5 class="position-absolute ns-caption">At iam decimum annum in spelunca<br> iacet. Cur tantas regiones<br> barbarorum pedibus obiit, tot maria<br> transmisit.</h5>
            <div class="ns-form position-absolute pt-5">
                <div class="card p-3">
                    <input placeholder="Name" class="w-100"><br>
                    <input placeholder="Email" class="w-100"><br>
                    <input placeholder="Phone Number" class="w-100">
                </div>
                <div role="button" class="sign-up mb-0 pt-3 cursor-pointer">SIGN UP NOW</div>
            </div>
        </div>
    </div>
</div>