<div class="container mt-5">
    <div class="row">
        <img class="phone-image col-sm-6 col-md-3" src="../../assets/component_4_images/iPhone.png">
        <div class="col-sm-6 col-md-6 pt-5 mt-5 pl-5">
            <h3>Download Our App</h3>
            <h5>At iam decimum annum in spelunca iacet. Cur tantas 
                barbarorum pedibus obiit, tot maria transmisit.</h5>
            <div class="row d-flex">
                <div class="col-sm-4 col-md-6 ">
                    <a href="https://www.apple.com/in/shop" target= "_blank"><img src="../../assets/component_4_images/apple-store.png"></a> 
                </div>
                <div class="col-md-4 ">
                    <a href="https://play.google.com/store" target="_blank"><img src="../../assets/component_4_images/play-store.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>

